.black { background-color: black;}

.blue { background-color: blue;}
.white{background-color:pink; }
.vid-box {
    padding-top: 10px;
}
a strong {color: white;}

.zero {
    margin: 0px;
    padding: 0px;
}

.vid-box img {
    min-width: 100px;
}

header {
    background-color: black;
    color: white;
}

header img {
     width: 50px;             
}
nav {
    
}

.worldstar-logo {
    width: 166px;
    height: 36px;
}