body{
    background: #f0f0f0;
}

.black { background-color: black;}

.blue { background-color: blue;}
.white{background-color:pink; }
.vid-box {
    padding-top: 10px;
}

.zero {
    margin: 0px;
    padding: 0px;
}

.vid-box img {
    min-width: 100px;
}

header {
    background-color: black;    
}

header img {
     width: 50px;             
}
nav {
    font-weight:bold;    
}
nav a{
    color:white;
    transition:0.4s;
}
nav a:hover {
    color:#991a1a;
}
#navbar-button{

    background-color:#c7c7c7;
}
.worldstar-logo {
    width: 166px;
    height: 36px;
}
.social-logo{
    width:30px;
    height:30px;
}
.cards-wrapper{
    display: flex;
    justify-content: center;
}
.card img {
    max-width: 100%;
    max-height:100px;
}

.carousel-control-prev,
.carousel-control-next{
    background-color: #000000;
    width:50px;
    height:50px;
    border-radius:50%;
    top:50%;
    transform:translateY(-50%);
    
}
.corousel-control-prev{
    transform:translate(-30px,-50%);
}
.corousel-control-next{
    transform:translate(300px,-50%);
}
.carousel-card{
    padding: 10px;
    max-width:220px;
    margin-right:5px;
    margin-left:5px;
    text-align: center;
}
.trending-header{
    margin-top:5px ;
    margin-bottom:5px ;
    
    background: linear-gradient(to bottom, #fff 0%,#fff 36%,#f1f1f1 90%,#f1f1f1 100%);
}
.card{
    background-color: transparent;
}
.card-body{
    padding: 0px;
}
#ws-carousel {
    width:100%;
}
.featured-vid{
    padding-top:15%;
    padding-bottom:2%;
}