.black { background-color: black;}

.blue { background-color: blue;}
.white{background-color:pink; }
.vid-box {
    padding-top: 10px;
}

.zero {
    margin: 0px;
    padding: 0px;
}

.vid-box img {
    min-width: 100px;
}

header {
    background-color: black;
    
}

header img {
     width: 50px;             
}
nav {
    font-weight:bold;
    
}
nav a{
    color:white;
    transition:0.4s;
}
nav a:hover {
    color:#991a1a;
}
#navbar-button{

    background-color:#c7c7c7;
}
.worldstar-logo {
    width: 166px;
    height: 36px;
}